SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

JWT_SECRET=
SETUP_KEY=

WEBHOOK_ADMIN=
WEBHOOK_POLISI=
WEBHOOK_EMS=
WEBHOOK_PEDAGANG=
WEBHOOK_PEMERINTAH=
WEBHOOK_MEKANIK=
WEBHOOK_BAHAMAS=
WEBHOOK_MEDIA=
WEBHOOK_DASHBOARD_LOG=
