SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

JWT_SECRET=
SETUP_KEY=

WEBHOOK_ADMIN=
WEBHOOK_POLISI=
WEBHOOK_EMS=
WEBHOOK_PEDAGANG=# ============================================================
# SALIN nilai-nilai ini ke: Netlify Dashboard > Site configuration
# > Environment variables. JANGAN upload file .env asli ke GitHub.
# ============================================================

# --- Supabase (Database) ---
# Didapat dari: Supabase Dashboard > Project Settings > API
SUPABASE_URL=https://zraulroopcmhulyppizf.supabase.co/rest/v1/
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpyYXVscm9vcGNtaHVseXBwaXpmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDc3NTk1MywiZXhwIjoyMTAwMzUxOTUzfQ.ACe8uus5obNaqxopyH91NpqtKHzWZ-fkWUAwj18ABEQ

# --- Keamanan Login Dashboard ---
# Bebas isi string acak yang panjang & rahasia, contoh generate:
# https://generate-secret.vercel.app/32
JWT_SECRET=5d0b31cb193e4f1486f65847736fc942

# Kunci rahasia untuk membuat akun dashboard pertama kali (founder/dev/admin)
# Bebas isi string acak, HAPUS/GANTI setelah selesai membuat semua akun.
SETUP_KEY=NEXORA_SETUP_2026_fhfd465yht3edfg

# --- 9 Webhook Discord ---
# Buat di: Discord > Server Settings > Integrations > Webhooks > New Webhook
# (buat 9 webhook berbeda, di channel yang sesuai)
WEBHOOK_ADMIN=https://discord.com/api/webhooks/1526120733296562288/tnfjJVMz4vEul3d9B2pbR27KZICTI5zZBE0wz8Xsh06CneKYFvI5zRo9msFMxw-b8Jj0
WEBHOOK_POLISI=https://discord.com/api/webhooks/1526952804017635348/VGQGIWgUWq2nKwcrDHs51FIkwZnAxeFEJjq9Nj3-8ZC3v0JwETCAohVNg8FBYiD7-Jgo
WEBHOOK_EMS=https://discord.com/api/webhooks/1526952870937624718/mZMiy1QtPvJfhvRYxPX2ErzH4NoxlI9gwxeX70POObZeu5hLNE4OQL8_L-Sm7tNflQsa
WEBHOOK_PEDAGANG=https://discord.com/api/webhooks/1526953188413149204/Cp5AMBurstOuM7YxiLzK_wFA2tt54hj5V2ZiQgLGRcJkzVGLkRFSXXfChE-SgeFpsjBc
WEBHOOK_PEMERINTAH=https://discord.com/api/webhooks/1526952660010274839/Fk2BsYBGxG_h2p9U0TMRKiiB13ZEdeKZBDEm3X_cEVONkVYUqvAHFrRYT34QPRdewtcC
WEBHOOK_MEKANIK=https://discord.com/api/webhooks/1526953094636634374/YKrXUVWGgY2HtCyRNmbthu_7muEAK8chGNDXz6EGY_pdAgfiwtwlrb9oqPp4mdSCTdtc
WEBHOOK_BAHAMAS=https://discord.com/api/webhooks/1529677667580907530/w2b8Do91zDwM6zMjTwLs0fsvaNCfV2vC7IkJzpCh4bOUqD_zCU2fY7c3QeDodPwIhT7Y
WEBHOOK_MEDIA=https://discord.com/api/webhooks/1529677770362454046/c_yzTdhAU-0r7DxDQif8RsBqKU0lkvJAOv_aJZoKXDtQK_bkp4-bQrqvzbMKzZytwNWL
WEBHOOK_DASHBOARD_LOG=https://discord.com/api/webhooks/1529677850222002257/y2BC3YsCvcK_jW17lvRwzfy8X5lULjwI1Sle1N6V21SdUSsBxl9fUYAm9RZDGik8sL8r

WEBHOOK_PEMERINTAH=
WEBHOOK_MEKANIK=
WEBHOOK_BAHAMAS=
WEBHOOK_MEDIA=
WEBHOOK_DASHBOARD_LOG=
